<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jovians</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <!-- Heading -->
    <h1 class="my-4 text-center">Welcome to HATSUN</h1>

    <!-- Image Section -->
    <div class="text-center mb-4">
      <img src="static/banner.jpg" alt="Placeholder Image" class="img-fluid">
    </div>

    <!-- Paragraphs Section -->
    <h2 class="my-4 text-center">Our Franchise</h1>
    <div class="row">
      <div class="col-md-4">
        <h3>Arun Icecreams</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
      </div>
      <div class="col-md-4">
        <h3>Hanobar</h3>
        <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit.</p>
      </div>
      <div class="col-md-4">
        <h3>Hap Daily</h3>
        <p>Integer consectetur luctus nisi, eget congue nibh scelerisque in. Etiam eget turpis a nunc sagittis placerat.</p>
      </div>
    </div>
  </div>
<!--  -->
<div >
  <h2 class = "text-center mt-2 mb-4">Open Positions</h2>
  <div>
    {% for job in jobs %}
     {% include 'jobitem.html' %}
    {% endfor %}
  </div>  
  </div>
     
    
    <!-- Contact Us Button -->
  <div class="d-grid gap-2 col-6 mx-auto text-center mx-auto p-2">
    <button class="btn btn-primary" type="button">Button</button>
  </div>

<!-- <p>{{jobs}}</p> -->
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
